@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Controller Service</h1>
            <div class="col-12">
                <strong>Singleton :</strong>@ViewBag.Singleton.Id
            </div>
            <div class="col-12">
                <strong>Scoped :</strong>@ViewBag.Scoped.Id
            </div>
            <div class="col-12">
                <strong>Transient :</strong>@ViewBag.Transient.Id
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <h1>Operation Service</h1>
            <div class="col-12">
                <strong>Singleton :</strong>@ViewBag.OperationService.SingletonService.Id
            </div>
            <div class="col-12">
                <strong>Scoped :</strong>@ViewBag.OperationService.ScopedService.Id
            </div>
            <div class="col-12">
                <strong>Transient :</strong>@ViewBag.OperationService.TransientService.Id
            </div>
        </div>

    </div>
</div>
